<!-- beerPartials.hbs -->

<div class="beers">
      <img class="beerImg" src="{{this.image_url}}" alt="Card image cap">
      <div>
        <h5>{{this.name}}</h5>
        <h4>{{this.tagline}}</h4>
        <p >{{this.description}}</p>
      </div>
</div>