<!--index.hbs-->

<div class="index-container">
    <img class="beerCart" src="/images/beer.png" alt="beer cartoon">
    <form>
        <button class="indexBeer" formaction="/beers">Check the Beers!</button>
    </form>
    <form>
        <button class="indexRandom" formaction="/random-beer">Check a Random Beer!</button>
    </form>
</div>