<!-- layout.hbs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>IroBeer</title>
  <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
    <nav class="navbar">
        <a class="navList" href="/">Home</a>
        <a class="navList" href="/beers">Beers</a>
        <a class="navList" href="/random-beer">Random Beer</a>
    </nav>
  {{{ body }}}
    <section id="footer">
        <div class="footList">
            <p>Develop by Ironhack ;)</p>
        </div>
    </section>

</body>
</html>